{% load static %}
    <header>
        <nav class="navigation-nav">
            <ul id="title" class="navigation-ul">
                <li><font id="Expensexpert">Expense<span id="ExpenseTrack">Xpert</span> </font></li>
            </ul>
            <ul class="navigation-ul">
                {% if request.session.email %}
                <li class="navigation-li"><a href='../logout' class="navigation-a">LOGOUT</a></li>
                <li class="navigation-li"><a href='../income' class="navigation-a">INCOME</a></li>
                <li class="navigation-li"><a href='../dashboard' class="navigation-a">DASHBOARD</a></li>
                {% else %}
                <li class="navigation-li"><a href='../register' class="navigation-a">SIGNUP</a></li>
                <li class="navigation-li"><a href='../login' class="navigation-a">LOGIN</a></li>
                {% endif %}
                
                <li class="navigation-li"><a href='../home' class="navigation-a">HOME</a></li>
            </ul>
        </nav>
    </header>